* {
  box-sizing: border-box;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.background-img {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( 120deg, #ffdd24, #fff0a2);
}


#page-nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0px;
  transition: top 0.5s;
}

.page-nav-contracted {
  top: calc(100% - 2 * 20vw);
}
.page-nav-expanded {
  top: 5rem;
}

.nav-button {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(180deg, #c649fc, #8000b7);
  border: none;
  height: 20vw;
  transition: top .5s;
}

.nav-button > span::after {
  content: '\25C0';
}
.nav-button-expanded > span::after {
  content: '\25BC';
}

.dropdown-content {
  display: none;
  width: 100%;
}

#app {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff0a2;
  height: calc(100vh - 2 * 20vw);
  overflow-y: scroll;
}

.title {
  display: inline;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  height: 5rem;
  padding-top: 1.125rem;
}

.left-col {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  min-width: 200px;
  background-color: grey;
}

.soc-med-links {
  display: table;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}
.soc-med-links > a {
  display: table-cell;
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: #03FF3D;
}

.foreground-img {
  width: 100%;
  height: 100vw;
  border: 1px solid black;
  -webkit-appearance: none;
  padding: 0px;
}


@media screen and (min-width : 768px) and (max-width : 1024px) {
  
}
