* {
  box-sizing: border-box;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url('../img/space-and-stars.jpg');
}

nav {
  top: 0px;
  position: fixed;
  display: flex;
  width: 100%;
  overflow: hidden;
  font-size: 2.5em;
  height: 6rem;
  color: #fff0a2;
  background-image: url('../img/space-and-stars.jpg');
  z-index: 1;
}


.clearfix:after {
  content: ' ';
  display: block;
  height: 0px;
  clear: both;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
}

.hamburger:before {
  content: '\2630';
}

#hamburger-button {
  vertical-align: middle;
  display: inline-block;
  transition: transform 0.15s;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2.5%;
  cursor: pointer;
}
.hamburger-button-open {
  transform: rotate(90deg);
}
.hamburger-button-closed {
  transform: rotate(0deg);
}

#hamburger-content {
  position: fixed;
  top: 6rem;
  width: 60vw;
  height: calc(100vh - 6rem);
  transition: left 0.15s;
}
.hamburger-content-open {
  left: 40%;
}
.hamburger-content-closed {
  left: 100%;
}

.nav-button {
}
.nav-button > button {
  width: 100%;
  border: none;
  font-size: 1em;
}

.dropdown-content {
  display: none;
  width: 100%;
}

main {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
}

#left-col {
  width: 100%;
}

#foreground-img {
  position: relative;
  width: 100%;
  border: 1px solid black;
}
#foreground-img:before {
  content: " ";
  display: block;
  padding-top: 100%;
}
#foreground-img > img {
  position: absolute;
  top: 0;
  width: 100%;
}

.social-media-link {
  display: none;
}
.social-media-link > button {
  width: 100%;
  border: none;
  font-size: 1em;
}

#twitter-container {
  width: 100%;
}

@media screen and (min-width : 415px) {
  .title {
    margin-left: 20px;
  }
  
  #left-col {
    position: fixed;
    width: 30%;
  }
  
  #foreground-img {
    margin-bottom: 30px;
  }
  
  .social-media-link {
    display: initial;
  }
  
  #twitter-container {
    position: relative;
    left: 30%;
    width: 70%;
    max-width: 600px;
  }
}
/* margin adjustment */
@media screen and (min-width : 875px) {
  #twitter-container {
    left: calc(30% + ((70% - 600px) / 2));
  }
}

@media screen and (min-width : 769px) {
  #hamburger-button {
    display: none;
  }
  
  #hamburger-content {
    position: static;
    display: flex;
    height: auto;
    width: auto;
    font-size: 0.5em;
    margin: auto;
  }
}

@media screen and (min-width : 1019px) {
  #left-col {
    max-width: 300px;
    margin-left: calc(30% - 300px);
  }
  
  #twitter-container {
    left: calc(300px + ((100% - 300px - 600px) / 2));
  }
}